# Auto detect text files and perform LF normalization
* text=auto

# Exclude Makefile from language stats
Makefile linguist-vendored

# Exclude Python scripts from language stats
scripts/*.py linguist-vendored
